# See: https://packages.gitlab.com/install/repositories/runner/gitlab-runner/config_file.repo?os=fedora&dist=40

repo --name GitLabRunner --baseurl https://packages.gitlab.com/runner/gitlab-runner/fedora/42/$basearch

%packages
	gitlab-runner
%end

%post
	cat <<-'EOF' > /etc/gitlab-runner/config.toml
		concurrent = 1
		log_level  = "info"

		#[session_server]
		#  listen_address  = "[::]:8093"
		#  session_timeout = 600

		[[runners]]
		  name       = "${GitlabRunnerName}"
		  url        = "${GitlabURL}"
		  token      = "${GitlabRunnerToken}"
		  executor   = "shell"
		  builds_dir = "/working/gitlab"
		  [runners.custom_build_dir]
		    enabled  = true
	EOF
%end

firewall --port 8093
